#Template {
	/*width: 250px;*/
	display: inline-block;
	text-align: left;
	margin: 0 15px;
}
#Template img {
	width: 220px;
}
#Template h4 {
	color: #00306e;
	margin-bottom: 0;
}
#Template p {
	color: #666;
	font-style: italic;
	margin-bottom: 0;
}
