#Articles {
	margin-top: -80px;
	padding-top: 80px;
}
#article-container {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #eff3f7;
}
#article-container h3 {
	margin-top: 0;
	margin-bottom: 10px;
}
hr {
	color: #d4d4d4;
	margin-top: 0;
	margin-bottom: 18px;
}
#article-individuals {
	width: 100%;
}
