.carousel-control-next-icon {
	background-image: url(../img/right.png);
}
.carousel-control-prev-icon {
	background-image: url(../img/left.png);
}
.carousel-inner {
	height: 240px;
	margin-bottom: 60px;
	display: table;
	overflow: visible;
}
.carousel-item {
	padding: 0 25%;
}
@media (max-width: 1450px) {
	.carousel-item {
		padding: 0 20%;
	}
}
@media (max-width: 1300px) {
	.carousel-item {
		height: 250px;
	}
}
@media (max-width: 1200px) {
	.carousel-item {
		height: 270px;
	}
}
@media (max-width: 1057px) {
	.carousel-item {
		height: 290px;
	}
}
@media (max-width: 960px) {
	.carousel-item {
		height: 320px;
	}
}
@media (max-width: 900px) {
	.carousel-item {
		height: 290px;
		padding: 0 10%;
	}
}
@media (max-width: 717px) {
	.carousel-item {
		height: 315px;
	}
}
@media (max-width: 700px) {
	.carousel-item {
		padding: 0 5%;
		height: auto;
	}
	#carousel a {
		display: none;
	}
}
