.carousel-control-next-icon {
	background-image: url(../img/right.png);
}
.carousel-control-prev-icon {
	background-image: url(../img/left.png);
}
.carousel-inner {
	margin-bottom: 60px;
	display: table;
	overflow: visible;
}
.carousel-item {
	padding: 0 25%;
}
.carousel-item p {
	line-height: 1.75rem;
}
.company {
	color: #00306e;
}
.industry {
	color: #00adef;
}
@media (max-width: 1450px) {
	.carousel-item {
		padding: 0 20%;
	}
}
@media (max-width: 900px) {
	.carousel-item {
		padding: 0 10%;
	}
}
@media (max-width: 700px) {
	.carousel-item {
		padding: 0 5%;
		height: auto;
	}
	#carousel a {
		display: none;
	}
}
