#CaseStudy {
	padding-top: 60px;
	padding-bottom: 45px;
}
#case-title img,
#case-title h3 {
	display: inline-block;
	vertical-align: top;
}
#case-title img {
	width: 75px;
}
#case-title h3 {
	height: 25px;
	margin: 25px;
}
#case-title hr {
	margin-bottom: 0;
	margin-top: 18px;
}
@media (max-width: 460px) {
	/*#case-title h3,
	#case-title img {
		display: block;
		margin: auto;
	}
	#case-title {
		text-align: center;
	}
	#case-title h3 {
		margin-top: 15px;
	}*/
	#case-title img {
		width: 50px;
	}
	#case-title h3 {
		margin: 12px 0 12px 10px;
	}
}
