#healthcare-title img,
#healthcare-title h3 {
	display: inline-block;
	vertical-align: top;
}
#healthcare-title img {
	width: 75px;
	height: 75px;
}
#healthcare-title h3 {
	height: 25px;
	margin: 25px;
}
#healthcare-title hr {
	margin-bottom: 0;
	margin-top: 18px;
}
.healthcare-description {
	padding: 60px 0;
}
.healthcare-description h5 {
	line-height: 1.75rem;
	color: #00306e;
}
