.App-header {
	height: calc(100vh - 80px);
	/* min-height: 350px; */
	padding: 20px;
	color: white;
	background-image: url('../img/header.jpg');
	background-size: cover;
}
.Header-content,
#Services,
#article-container,
#CaseStudy,
#contact-container,
#healthcare-container,
#Legal {
	text-align: left;
	padding: 0 25%;
}
span {
	float: right;
}
@media (max-width: 1450px) {
	.Header-content,
	#Services,
	#article-container,
	#CaseStudy,
	#contact-container,
	#healthcare-container,
	#Legal {
		padding: 0 20%;
	}
}
@media (max-width: 900px) {
	.Header-content,
	#Services,
	#article-container,
	#CaseStudy,
	#contact-container,
	#healthcare-container,
	#Legal {
		padding: 0 10%;
	}
}
@media (max-width: 700px) {
	.Header-content,
	#Services,
	#article-container,
	#CaseStudy,
	#contact-container,
	#healthcare-container,
	#Legal {
		padding: 0 5%;
	}
}
