.App-header {
	height: calc(100vh - 80px);
	padding: 20px;
	color: white;
	background-size: cover;
	/* background-image: url('../img/header.jpg'); */
	overflow: hidden;
}
.video-background {
	object-fit: cover;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.Header-content,
#Services,
#article-container,
#CaseStudy,
#contact-container,
#healthcare-container,
#Legal {
	text-align: left;
	padding: 0 25%;
}
span {
	float: right;
}
@media (max-width: 1450px) {
	.Header-content,
	#Services,
	#article-container,
	#CaseStudy,
	#contact-container,
	#healthcare-container,
	#Legal {
		padding: 0 20%;
	}
}
@media (max-width: 900px) {
	.Header-content,
	#Services,
	#article-container,
	#CaseStudy,
	#contact-container,
	#healthcare-container,
	#Legal {
		padding: 0 10%;
	}
}
@media (max-width: 700px) {
	.Header-content,
	#Services,
	#article-container,
	#CaseStudy,
	#contact-container,
	#healthcare-container,
	#Legal {
		padding: 0 5%;
	}
}
