.powerpoint iframe {
	margin-top: 60px;
	margin-bottom: 1rem;
	max-width: 800px;

}
@media (max-width: 1000px) {
	.powerpoint iframe {
		height: 400px;
	}
}
@media (max-width: 500px) {
	.powerpoint iframe {
		height: 300px;
	}
}
.powerpoint {
	position: relative;
}
#iframe-btn {
	width: 25px;
	height: 25px;
	background-color: red;
	position: absolute;
	right: 50%;
	bottom: 20px;
}
